
<div class="container">
    <form id="new-form" method="POST" action="/album">
        <label for="name">
            <span>Album</span>
            <input id="name" type="text" name="name">
        </label>

        <label for="group">
            <span>Group</span>
            <input id="group" type="text" name="group">
        </label>
    
        <label for="songs">
            <span>Songs (Have each song separated by only a comma)</span>
            <input id="songs" type="text" name="songs">
        </label>

        <label for="year">
            <span>Year</span>
            <input id="year" type="text" name="year">
        </label>

        <label for="img">
            <span>Image</span>
            <input id="img" type="text" name="img">
        </label>

    
        <input type="submit" value="Submit"> 
    </form>
</div>